
.bg{
  background-position: 50% 50%;
  background-repeat: no-repeat  ;
  background-size: cover;

}

.relative{
  position: relative;
}

.img{
  img{
    width: 100%;

  }
}

img{
  max-width:100%;
  vertical-align: middle;
}

.no_margin{
  margin: 0 !important;
}

a{
  text-decoration: none;
  color: inherit;
}